@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a nuestro Instituto Superior en Informática</h1>
    <p>---------------------------------------------------------------------------------------------</p>
</div>


<!DOCTYPE html>
<html>
<head>
    <link rel="icon">
    <title>Images</title>
    <style>
        body {
            height: 100vh;
            background-image: url("https://wallpapersmug.com/download/1600x900/82ac33/laptop-colorful-screen-dark.jpg");
            color:white;
            padding: 10px;
            background-position: auto;
            background-size: cover ;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h3>ESCRIBINOS AL 0800 444 2244 para más información</h3>
    <h3>isinformatica@gmail.com</h3>
</body>
</html>