@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<H3>CONTACTO</H3>

<!DOCTYPE html>
<html>
<head>
    <link rel="icon">
    <title>Images</title>
    <style>
        body {
            height: 100vh;
            background-image: url("https://images.business.com/app/uploads/2022/03/23030435/virtual_reality_af_istocker_getty-3.jpg");
            color:white;
            padding: 10px;
            background-position: auto;
            background-size: cover ;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h5>LLAMÁ AL 0800 444 2244 PARA MÁS INFORMACIÓN</h5>
    <br>
    <br>
    <h5>isinformatica@gmail.com</h5>
</body>
</html>